In [3]:
import pandas as pd

df = pd.read_clipboard()
df

   Parent ID  DNA ID
0      24943   36445
1      33810   36353
2      24943   36448
3      24942   36451
4      24940   36447
5      24942   36446
6      24942   36450
7      33810   36339
8      33810   36332